<form [formGroup]="loginForm" (ngSubmit)="onLogin()">
    <fieldset>
      <legend>Login Form</legend>
  
      <div>
        <label for="emailId">Email ID:</label>
        <input id="emailId" formControlName="email" type="email" required>
        <button type="button" (click)="validateEmail()">Validate</button>
      </div>
  
      <div>
        <label for="code">Code:</label>
        <input id="code" formControlName="code" type="text" required>
      </div>
  
      <div>
        <label>Captcha:</label>
        <re-captcha siteKey="6LcDnDMrAAAAABGV0eR5VM_pr_hGo_xKEHZ8h0aY" (resolved)="resolved($event)"></re-captcha>
      </div>
  
      <div>
        <button type="submit">Login</button>
        <button type="button" (click)="confirmReset()">Cancel</button>
      </div>
    </fieldset>
  </form>